@charset "UTF-8";
/* Polices d'écritures pour les différents textes */
@font-face {
  font-family: "NimbusSanL-Reg";
  src: url("Polices/NimbusSanL-Reg.otf");
}
@font-face {
  font-family: "segoeprb";
  src: url("Polices/segoeprb.ttf");
}
@font-face {
  font-family: "SCRIPTBL";
  src: url("Polices/SCRIPTBL.TTF");
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("Polices/Quicksand-Regular.otf");
}
@font-face {
  font-family: "SegoePrint";
  src: url("Polices/segoeprb.ttf");
}
@font-face {
  font-family: "AlexBrush-Regular";
  src: url("Polices/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: "KaushanScript-Regular";
  src: url("Polices/KaushanScript-Regular.otf");
}
/*-----------------------------------------------*/
header, footer {
  background-color: #579c87;
}
header a, footer a {
  font-family: "NimbusSanL-Reg", Arial, Helvetica, sans-serif;
  color: #fdcb46;
}

body {
  margin: 0;
  font-size: 1.4em;
}

header {
  display: flex;
  justify-content: center;
  margin: 0;
}

h2 {
  font-family: "NimbusSanL-Reg", Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 0em;
}
@media (max-width: 1024px) {
  h2 {
    display: none;
  }
}

a {
  text-decoration: none;
}

/*Configuration du menu la note enchantée                                                                       */
.menu_note_enchantee {
  box-shadow: 0px 0px 10px 3px rgba(237, 237, 237, 0.75);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1em 5em 8em 5em;
  padding: 2em 10em 6em 10em;
  font-family: "SCRIPTBL", Arial, Helvetica, sans-serif;
  background-color: #fcdfdb;
}
@media (max-width: 1024px) {
  .menu_note_enchantee {
    margin: 0;
    margin-bottom: 4.5em;
    padding: 0 0.3em 0 0.3em;
  }
}
.menu_note_enchantee img {
  animation: note 3s ease-in-out infinite;
}
@media (max-width: 1024px) {
  .menu_note_enchantee img {
    max-width: 15%;
  }
}
.menu_note_enchantee span {
  background: linear-gradient(to top, black 0%, black 8%, transparent 8.01%) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s;
}
.menu_note_enchantee span:hover {
  background-size: 100% 100%;
}
.menu_note_enchantee h3:before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  top: 50%;
  right: 100%;
  background: black;
  border-radius: 70% 50% 90% 10%/90% 70% 70% 10%;
}
.menu_note_enchantee h3:after {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  top: 50%;
  left: 100%;
  background: black;
  border-radius: 90% 0% 80% 20%/50% 25% 90% 30%;
}
.menu_note_enchantee_titre {
  font-size: 2em;
}
@media (max-width: 1024px) {
  .menu_note_enchantee_titre {
    margin: 0.5em;
  }
}
.menu_note_enchantee_titre_composition {
  text-align: center;
}
.menu_note_enchantee_composition {
  flex-direction: column;
  text-align: start;
}
.menu_note_enchantee_composition--prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_note_enchantee_composition--prix p {
  margin: 0;
}
.menu_note_enchantee_composition div {
  padding-right: 0.3em;
}
.menu_note_enchantee_fin_menu {
  display: flex;
  justify-content: center;
  font-size: 1.6em;
  margin: 1em 0 1em 0;
}
.menu_note_enchantee_fin_menu img {
  max-width: 6%;
  padding-right: 0.3em;
}
@media (max-width: 1024px) {
  .menu_note_enchantee_fin_menu {
    display: none;
  }
}

@keyframes note {
  0% {
    transform: skew(0deg) perspective(0px) translateZ(0px);
  }
  50% {
    transform: skew(5deg) perspective(60px) translateZ(4px);
  }
  100% {
    transform: skew(0deg) perspective(0px) translateZ(0px);
  }
}
h3 {
  font-size: 1.4em;
  display: inline-block;
  position: relative;
  width: 33%;
}
@media (max-width: 1024px) {
  h3 {
    margin-top: 0.5em;
  }
}

/*-----------------------------------------------------------------------------------------------*/
/* Configuration du footer                                        */
footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer a {
  font-size: 1.5em;
}
@media (max-width: 1024px) {
  footer a {
    font-size: 1.05em;
  }
}

/* Animations sur le footer                                   */
.mentions, .contactez {
  padding: 0.5em 2em 0.5em 2em;
}
@media (max-width: 1024px) {
  .mentions, .contactez {
    padding: 0.5em;
  }
}
.mentions :hover, .contactez :hover {
  animation: wiggle 0.5s infinite;
}

@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*-------------------------------------------------------------*/
/*----------------------------------------------------------------*/

/*# sourceMappingURL=Style_menu_note_enchantee.css.map */
