@charset "UTF-8";
/* Polices d'écritures pour les différents textes */
@font-face {
  font-family: "NimbusSanL-Reg";
  src: url("Polices/NimbusSanL-Reg.otf");
}
@font-face {
  font-family: "segoeprb";
  src: url("Polices/segoeprb.ttf");
}
@font-face {
  font-family: "SCRIPTBL";
  src: url("Polices/SCRIPTBL.TTF");
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("Polices/Quicksand-Regular.otf");
}
@font-face {
  font-family: "SegoePrint";
  src: url("Polices/segoeprb.ttf");
}
@font-face {
  font-family: "AlexBrush-Regular";
  src: url("Polices/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: "KaushanScript-Regular";
  src: url("Polices/KaushanScript-Regular.otf");
}
/*-----------------------------------------------*/
header, footer {
  background-color: #579c87;
}
header a, footer a {
  font-family: "NimbusSanL-Reg";
  color: #fdcb46;
}

body {
  margin: 0;
  font-size: 1.4em;
}

header {
  display: flex;
  justify-content: center;
  margin: 0;
}

h2 {
  font-family: "NimbusSanL-Reg";
  text-align: center;
  margin-bottom: 0em;
}

a {
  text-decoration: none;
}

section {
  padding-bottom: 2em;
}

span {
  display: block;
}

/* Configuration des menus                                                                             */
.menu_note_enchantee, .menu_chic_a_la_francaise, .menu_delice_des_papilles, .menu_palette_du_gout {
  width: 12em;
  height: 20em;
  box-shadow: 0px 0px 10px 3px rgba(237, 237, 237, 0.75);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 1em;
}
.menu_note_enchantee a, .menu_chic_a_la_francaise a, .menu_delice_des_papilles a, .menu_palette_du_gout a {
  font-size: 1.5em;
}

/* Configuration de l'affichage des menus La Note Enchantée et Le Chic à la Française */
#menu_note_enchantee_et_chic_a_la_francaise {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_note_enchantee {
  font-family: "SCRIPTBL";
  background-color: #fcdfdb;
}
.menu_note_enchantee img {
  max-width: 20%;
  animation: note 3s ease-in-out infinite;
}
.menu_note_enchantee a {
  font-family: "segoeprb";
  color: #3c1218;
  text-transform: uppercase;
}

@keyframes note {
  0% {
    transform: skew(0deg) perspective(0px) translateZ(0px);
  }
  50% {
    transform: skew(5deg) perspective(60px) translateZ(4px);
  }
  100% {
    transform: skew(0deg) perspective(0px) translateZ(0px);
  }
}
.menu_chic_a_la_francaise {
  font-family: "Quicksand-Regular";
  background-color: #fff5fe;
}
.menu_chic_a_la_francaise span {
  font-weight: bold;
  background: linear-gradient(to right top, #db8528, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_chic_a_la_francaise a {
  font-family: Georgia;
  font-weight: bold;
  color: #c77412;
}

/*----------------------------------------------------------------------------------------*/
/* Configuration de l'affichage des menus delice des paipilles et palette du gout */
#menu_delice_des_papilles_et_palette_du_gout {
  display: flex;
  justify-content: center;
}

.menu_delice_des_papilles {
  font-family: "AlexBrush-Regular";
  font-weight: bold;
  background-color: #f9f9f9;
}
.menu_delice_des_papilles span {
  font-size: 1.3em;
  background: linear-gradient(to right, #0022db, #56b3f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_delice_des_papilles a {
  font-family: "SegoePrint";
  color: #0887fb;
}

.menu_palette_du_gout {
  font-family: "KaushanScript-Regular";
  background-color: #fdfffd;
}
.menu_palette_du_gout span {
  background: linear-gradient(90deg, #3d923a, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_palette_du_gout a {
  font-family: "SegoePrint";
  color: #72bf56;
}

/*--------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/* Configuration de l'affichage du bloc aside       */
aside {
  width: 15em;
  height: 2.5em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
}
aside p {
  margin: auto;
  font-size: 1.5em;
}

/*---------------------------------------------------*/
/* Configuration de l'alignement du bloc section et du bloc aside */
#section_aside {
  display: flex;
  flex-direction: column;
}

/*----------------------------------------------------------------*/
/* Configuration du footer                                        */
footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer a {
  font-size: 1.5em;
}

/* Animations sur le footer                                   */
.mentions, .contactez {
  padding: 0.5em 2em 0.5em 2em;
}
.mentions :hover, .contactez :hover {
  animation: wiggle 0.5s infinite;
}

@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*-------------------------------------------------------------*/
/*-----------------------------------------------------------------*/

/*# sourceMappingURL=Style.css.map */
