@charset "UTF-8";
/* Polices d'écritures pour les différents textes */
@font-face {
  font-family: "NimbusSanL-Reg";
  src: url("Polices/NimbusSanL-Reg.otf");
}
@font-face {
  font-family: "segoeprb";
  src: url("Polices/segoeprb.ttf");
}
@font-face {
  font-family: "SCRIPTBL";
  src: url("Polices/SCRIPTBL.TTF");
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("Polices/Quicksand-Regular.otf");
}
@font-face {
  font-family: "SegoePrint";
  src: url("Polices/segoeprb.ttf");
}
@font-face {
  font-family: "AlexBrush-Regular";
  src: url("Polices/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: "KaushanScript-Regular";
  src: url("Polices/KaushanScript-Regular.otf");
}
/*-----------------------------------------------*/
@-webkit-keyframes animation_left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    border-radius: 0%;
  }
  25% {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    border-radius: 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-radius: 75%;
  }
  75% {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    border-radius: 0%;
  }
}
@keyframes animation_left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    border-radius: 0%;
  }
  25% {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    border-radius: 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-radius: 75%;
  }
  75% {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    border-radius: 0%;
  }
}
@-webkit-keyframes animation_right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    border-radius: 0%;
  }
  25% {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    border-radius: 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-radius: 75%;
  }
  75% {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    border-radius: 0%;
  }
}
@keyframes animation_right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    border-radius: 0%;
  }
  25% {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    border-radius: 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-radius: 75%;
  }
  75% {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    border-radius: 0%;
  }
}
header, footer {
  background-color: #579c87;
}

header a, footer a {
  font-family: "NimbusSanL-Reg";
  color: #fdcb46;
}

body {
  margin: 0;
  font-size: 1.4em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

h2 {
  font-family: "NimbusSanL-Reg";
  text-align: center;
  margin-bottom: 0em;
}

a {
  text-decoration: none;
}

/*Configuration du menu 2                                                                          */
.menu_palette_du_gout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 1em 5em 8em 5em;
  padding: 2em 10em 6em 10em;
  font-family: "KaushanScript-Regular";
  background-color: #fdfffd;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(237, 237, 237, 0.75);
  box-shadow: 0px 0px 10px 3px rgba(237, 237, 237, 0.75);
}

.menu_palette_du_gout--entree h3:before {
  content: "";
  position: absolute;
  height: 7px;
  width: 100%;
  top: 50%;
  right: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#3d923a), to(#beff7f));
  background: linear-gradient(90deg, #3d923a, #beff7f);
  -webkit-animation: animation_left 6s linear infinite;
  animation: animation_left 6s linear infinite;
}

.menu_palette_du_gout--entree h3:after {
  content: "";
  position: absolute;
  height: 7px;
  width: 100%;
  top: 50%;
  left: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#3d923a), to(#beff7f));
  background: linear-gradient(-90deg, #3d923a, #beff7f);
  -webkit-animation: animation_right 6s linear infinite;
  animation: animation_right 6s linear infinite;
}

.menu_palette_du_gout--principal h3:before {
  content: "";
  position: absolute;
  height: 7px;
  width: 100%;
  top: 50%;
  right: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#3d923a), to(#beff7f));
  background: linear-gradient(90deg, #3d923a, #beff7f);
  -webkit-animation: animation_left 6s linear infinite;
  animation: animation_left 6s linear infinite;
}

.menu_palette_du_gout--principal h3:after {
  content: "";
  position: absolute;
  height: 7px;
  width: 100%;
  top: 50%;
  left: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#3d923a), to(#beff7f));
  background: linear-gradient(-90deg, #3d923a, #beff7f);
  -webkit-animation: animation_right 6s linear infinite;
  animation: animation_right 6s linear infinite;
}

.menu_palette_du_gout--dessert h3:before {
  content: "";
  position: absolute;
  height: 7px;
  width: 100%;
  top: 50%;
  right: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#3d923a), to(#beff7f));
  background: linear-gradient(90deg, #3d923a, #beff7f);
  -webkit-animation: animation_left 6s linear infinite;
  animation: animation_left 6s linear infinite;
}

.menu_palette_du_gout--dessert h3:after {
  content: "";
  position: absolute;
  height: 7px;
  width: 100%;
  top: 50%;
  left: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#3d923a), to(#beff7f));
  background: linear-gradient(-90deg, #3d923a, #beff7f);
  -webkit-animation: animation_right 6s linear infinite;
  animation: animation_right 6s linear infinite;
}

.menu_palette_du_gout_titre {
  font-size: 2em;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, right top, from(#3d923a), to(#beff7f));
  background: linear-gradient(90deg, #3d923a, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_palette_du_gout_titre_composition {
  text-align: center;
}

.menu_palette_du_gout_composition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: start;
}

.menu_palette_du_gout_composition div {
  padding-right: 0.5em;
}

h3 {
  font-size: 1.4em;
  display: inline-block;
  position: relative;
  width: 33%;
  margin-top: 2em;
}

/*-----------------------------------------------------------------------------------------------*/
/* Configuration du footer                                        */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer a {
  font-size: 1.5em;
}

/* Animations sur le footer                                   */
.mentions, .contactez {
  padding: 0.5em 2em 0.5em 2em;
}

.mentions :hover, .contactez :hover {
  -webkit-animation: wiggle 0.5s infinite;
  animation: wiggle 0.5s infinite;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*-------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*# sourceMappingURL=Style_menu_palette_du_gout.css.map */

/*# sourceMappingURL=style_menu_palette_du_gout.css.map */
