@charset "UTF-8";
/* Polices d'écritures pour les différents textes */
@font-face {
  font-family: "NimbusSanL-Reg";
  src: url("Polices/NimbusSanL-Reg.otf");
}
@font-face {
  font-family: "segoeprb";
  src: url("Polices/segoeprb.ttf");
}
@font-face {
  font-family: "SCRIPTBL";
  src: url("Polices/SCRIPTBL.TTF");
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("Polices/Quicksand-Regular.otf");
}
@font-face {
  font-family: "SegoePrint";
  src: url("Polices/segoeprb.ttf");
}
@font-face {
  font-family: "AlexBrush-Regular";
  src: url("Polices/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: "KaushanScript-Regular";
  src: url("Polices/KaushanScript-Regular.otf");
}
/*-----------------------------------------------*/
header, footer {
  background-color: #579c87;
}

header a, footer a {
  font-family: "NimbusSanL-Reg";
  color: #fdcb46;
}

body {
  margin: 0;
  font-size: 1.4em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

h2 {
  font-family: "NimbusSanL-Reg";
  text-align: center;
  margin-bottom: 0em;
}

a {
  text-decoration: none;
}

p {
  font-family: "NimbusSanL-Reg";
  text-align: center;
}

/* Configuration du footer                                        */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer a {
  font-size: 1.5em;
}

/* Animations sur le footer                                   */
.mentions, .contactez {
  padding: 0.5em 2em 0.5em 2em;
}

.mentions :hover, .contactez :hover {
  -webkit-animation: wiggle 0.5s infinite;
  animation: wiggle 0.5s infinite;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*-------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*# sourceMappingURL=Style_mentions_legales.css.map */

/*# sourceMappingURL=style_mentions_legales.css.map */
