@charset "UTF-8";
/* Polices d'écritures pour les différents textes */
@font-face {
  font-family: "NimbusSanL-Reg";
  src: url("Polices/NimbusSanL-Reg.otf");
}
@font-face {
  font-family: "segoeprb";
  src: url("Polices/segoeprb.ttf");
}
@font-face {
  font-family: "SCRIPTBL";
  src: url("Polices/SCRIPTBL.TTF");
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("Polices/Quicksand-Regular.otf");
}
@font-face {
  font-family: "SegoePrint";
  src: url("Polices/segoeprb.ttf");
}
@font-face {
  font-family: "AlexBrush-Regular";
  src: url("Polices/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: "KaushanScript-Regular";
  src: url("Polices/KaushanScript-Regular.otf");
}
/*------------------------------------------------*/
header, footer {
  background-color: #579c87;
}
header a, footer a {
  font-family: "NimbusSanL-Reg", Arial, Helvetica, sans-serif;
  color: #fdcb46;
}

body {
  margin: 0;
  font-size: 1.4em;
}

header {
  display: flex;
  justify-content: center;
  margin: 0;
}

h2 {
  font-family: "NimbusSanL-Reg", Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 0em;
}
@media (max-width: 1024px) {
  h2 {
    display: none;
  }
}

a {
  text-decoration: none;
}

/* Configuration du Délice des papilles                                                                */
.menu_delice_des_papilles {
  box-shadow: 0px 0px 10px 3px rgba(237, 237, 237, 0.75);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1em 5em 8em 5em;
  padding: 2em 10em 6em 10em;
  font-family: "Quicksand-Regular", Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #f9f9f9;
}
@media (max-width: 1024px) {
  .menu_delice_des_papilles {
    margin: 0;
    margin-bottom: 4.5em;
    padding: 0 0.3em 0 0.3em;
  }
}
.menu_delice_des_papilles p {
  font-size: 1.3em;
}
.menu_delice_des_papilles__entree {
  flex-direction: column;
}
.menu_delice_des_papilles__entree span {
  background: linear-gradient(to top, #0022db 0%, #0022db 8%, transparent 8.01%) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s;
}
.menu_delice_des_papilles__entree span:hover {
  background-size: 100% 100%;
}
.menu_delice_des_papilles__entree h3:before {
  content: "";
  position: absolute;
  height: 6px;
  width: 100%;
  top: 50%;
  right: 100%;
  background: #0022db;
  border-radius: 0% 50% 0 50%/0 50% 0% 50%;
}
.menu_delice_des_papilles__entree h3:after {
  content: "";
  position: absolute;
  height: 6px;
  width: 100%;
  top: 50%;
  left: 100%;
  background: #0022db;
  border-radius: 50% 0% 50% 0%/50% 0% 50% 0%;
}
.menu_delice_des_papilles__entree--prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_delice_des_papilles__entree--prix p {
  margin: 0;
}
.menu_delice_des_papilles__principal {
  flex-direction: column;
}
.menu_delice_des_papilles__principal span {
  background: linear-gradient(to top, #0670f3 0%, #0670f3 8%, transparent 8.01%) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s;
}
.menu_delice_des_papilles__principal span:hover {
  background-size: 100% 100%;
}
.menu_delice_des_papilles__principal h3:before {
  content: "";
  position: absolute;
  height: 6px;
  width: 100%;
  top: 50%;
  right: 100%;
  background: #0670f3;
  border-radius: 0% 50% 0 50%/0 50% 0% 50%;
}
.menu_delice_des_papilles__principal h3:after {
  content: "";
  position: absolute;
  height: 6px;
  width: 100%;
  top: 50%;
  left: 100%;
  background: #0670f3;
  border-radius: 50% 0% 50% 0%/50% 0% 50% 0%;
}
.menu_delice_des_papilles__principal--prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_delice_des_papilles__principal--prix p {
  margin: 0;
}
.menu_delice_des_papilles__dessert {
  flex-direction: column;
}
.menu_delice_des_papilles__dessert span {
  background: linear-gradient(to top, #56b3f7 0%, #56b3f7 8%, transparent 8.01%) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s;
}
.menu_delice_des_papilles__dessert span:hover {
  background-size: 100% 100%;
}
.menu_delice_des_papilles__dessert h3:before {
  content: "";
  position: absolute;
  height: 6px;
  width: 100%;
  top: 50%;
  right: 100%;
  background: #56b3f7;
  border-radius: 0% 50% 0 50%/0 50% 0% 50%;
}
.menu_delice_des_papilles__dessert h3:after {
  content: "";
  position: absolute;
  height: 6px;
  width: 100%;
  top: 50%;
  left: 100%;
  background: #56b3f7;
  border-radius: 50% 0% 50% 0%/50% 0% 50% 0%;
}
.menu_delice_des_papilles__dessert--prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_delice_des_papilles__dessert--prix p {
  margin: 0;
}
.menu_delice_des_papilles_titre {
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(to right, #0022db, #56b3f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_delice_des_papilles_titre_composition {
  text-align: center;
}
.menu_delice_des_papilles_composition {
  display: flex;
  justify-content: space-between;
  text-align: start;
}
.menu_delice_des_papilles_composition_prix {
  text-align: right;
}
.menu_delice_des_papilles_composition div {
  padding-right: 0.3em;
}

h3 {
  font-size: 1.4em;
  display: inline-block;
  position: relative;
  width: 33%;
  margin-top: 2em;
}
@media (max-width: 1024px) {
  h3 {
    margin-top: 0.5em;
  }
}

/*-----------------------------------------------------------------------------------------------*/
/* Configuration du footer                                        */
footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer a {
  font-size: 1.5em;
}
@media (max-width: 1024px) {
  footer a {
    font-size: 1.05em;
  }
}

/* Animations sur le footer                                   */
.mentions, .contactez {
  padding: 0.5em 2em 0.5em 2em;
}
@media (max-width: 1024px) {
  .mentions, .contactez {
    padding: 0.5em;
  }
}
.mentions :hover, .contactez :hover {
  animation: wiggle 0.5s infinite;
}

@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*-------------------------------------------------------------*/
/*----------------------------------------------------------------*/

/*# sourceMappingURL=Style_menu_delice_des_papilles.css.map */
