/* Polices d'écritures pour les différents textes */
    @import "./base/polices";
/*-----------------------------------------------*/

// Variables et mixins                                
    // Variables du header et footer                  
        @import "./utils/variables_header_footer";
    ////////////////////////////////////////////////////
    // Variables de l'index
        @import "./utils/_variables_index";
    ///////////////////////////////////////////////////
    @import "./utils/mixins_media_queries";
////////////////////////////////////////////////////////

@import "./layouts/body";

/* Configuration des menus                                                                             */
    .menu_note_enchantee, .menu_chic_a_la_francaise, .menu_delice_des_papilles, .menu_palette_du_gout {
        width: $menus-width;
        height: $menus-height;
        box-shadow: $box-shadow-dim $box-shadow-color;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: $menus-margin;

        @include petit-ecran {
            width: 90%;
            height: $menus-height*0.7;
            margin: $menus-margin*0.5;
        }

        a {
            font-size: map-get($font-size, lien-menu);
            display: inline-flex;
        }

        span {
            display: block;
        }

        @import "./components/transition_index";
    }

    /* Configuration de l'affichage des menus La Note Enchantée et Le Chic à la Française */
        #menu_note_enchantee_et_chic_a_la_francaise {
            display: flex;
            justify-content: center;
            align-items: center;

            @include petit-ecran {
                flex-direction: column;
            }
        }

        .menu_note_enchantee {
            font-family: map-get($font-family, menu_note_enchantee), $font-family-secondary;
            background-color: $menu-color-note_enchantee;

            img {
            max-width: 20%;
            animation: note 3s ease-in-out infinite;

                @include petit-ecran {
                    max-width: 15%;
                }
 
            }

            a {
            font-family: map-get($font-family, menu_note_enchantee-lien), $font-family-secondary;
            color: $menu-color-note_enchantee-lien;
            text-transform: uppercase;
            }
        }

        // Animation de la note de musique sur le menu la Note enchantée
        @import "./components/_animation_menu_note_enchantee";

        .menu_chic_a_la_francaise {
            font-family: map-get($font-family, menu_chic_a_la_francaise), $font-family-secondary;
            background-color: $menu-color-chic_a_la_francaise;

            span {
            font-weight: bold;
            background: $menu-color-chic_a_la_francaise-degrade;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }

            a {
            font-family: map-get($font-family, menu_chic_a_la_francaise-lien), $font-family-secondary;
            font-weight: bold;
            color: $menu-color-chic_a_la_francaise-lien;
            }
        }
    /*----------------------------------------------------------------------------------------*/

    /* Configuration de l'affichage des menus delice des papilles et palette du gout */
        #menu_delice_des_papilles_et_palette_du_gout {
            display: flex;
            justify-content: center;

            @include petit-ecran {
                align-items: center;
                flex-direction: column;
            }
        }

        .menu_delice_des_papilles {
            font-family: map-get($font-family, menu_delice_des_papilles), $font-family-secondary;
            font-weight: bold;
            background-color: $menu-color-delice_des_papilles;

            span {
                font-size: 1.3em;
                background: $menu-color-delice_des_papilles-degrade;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            a {
                font-family: 'SegoePrint';
                color: $menu-color-delice_des_papilles-lien;
            }
        }

        .menu_palette_du_gout {
            font-family: map-get($font-family, menu_palette_du_gout), $font-family-secondary;
            background-color: $menu-coloc-palette_du_gout;

            span {
                background: $menu-color-palette_du_gout-degrade;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            a {
                font-family: map-get($font-family, menu-lien-specific), $font-family-secondary;
                color: $menu-color-palette_du_gout-lien;
            }
        }
    /*--------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/* Configuration de l'affichage du bloc aside       */
    aside {
        width: $aside-width;
        height: $aside-height;
        border-radius: 0.7em;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-bottom: $aside-margin;
        background-color: $background-color-header-footer;
        font-family: 'NimbusSanL-Reg';
        color: $text-color-header-footer;

        @include petit-ecran {
            width: 90%;
            margin-bottom: $aside-margin*0.8;
        }

        p {
            margin: auto;
            font-size: map-get($font-size , aside);
        
            @import "./components/animation_aside";
        }
    }
/*---------------------------------------------------*/

/* Configuration de l'alignement du bloc section et du bloc aside */
    #section_aside {
        display: flex;
        flex-direction: column;
    }
/*----------------------------------------------------------------*/

/* Configuration du footer                                        */
    @import "./layouts/footer";
/*----------------------------------------------------------------*/