/* Polices d'écritures pour les différents textes */
    @import "./base/polices";
/*-----------------------------------------------*/

// Variables et mixins                                 
    // Variables du header et footer                  
    @import "./utils/variables_header_footer";
    ////////////////////////////////////////////////////
    // Variables de l'index
    @import "./utils/_variables_index";
    
    ///////////////////////////////////////////////////
    @import "./utils/mixins_common";
////////////////////////////////////////////////////////

@import "./layouts/body";

/*section {
    padding-bottom: 2em;
}*/

span {
    display: block;
}

/* Configuration des menus                                                                             */
    .menu_note_enchantee, .menu_chic_a_la_francaise, .menu_delice_des_papilles, .menu_palette_du_gout {
        width: $menus-width;
        height: $menus-height;
        box-shadow: 0px 0px 10px 3px $box-shadow-color;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: $menus-margin;

        a {
            font-size: 1.5em;
        }
    }

    /* Configuration de l'affichage des menus La Note Enchantée et Le Chic à la Française */
        #menu_note_enchantee_et_chic_a_la_francaise {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu_note_enchantee {
            font-family: 'SCRIPTBL';
            background-color: $menu-color-note_enchantee;

            img {
            max-width: 20%;
            animation: note 3s ease-in-out infinite;
            }

            a {
            font-family: 'segoeprb';
            color: $menu-color-note_enchantee-lien;
            text-transform: uppercase;
            }
        }

        // Animation de la note de musique sur le menu la Note enchantée
        @import "./components/_animation_menu_note_enchantee";

        .menu_chic_a_la_francaise {
            font-family: 'Quicksand-Regular';
            background-color: $menu-color-chic_a_la_francaise;

            span {
            font-weight: bold;
            background: $menu-color-chic_a_la_francaise-degrade;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }

            a {
            font-family: Georgia;
            font-weight: bold;
            color: $menu-color-chic_a_la_francaise-lien;
            }
        }
    /*----------------------------------------------------------------------------------------*/

    /* Configuration de l'affichage des menus delice des papilles et palette du gout */
        #menu_delice_des_papilles_et_palette_du_gout {
            display: flex;
            justify-content: center;
        }

        .menu_delice_des_papilles {
            font-family: 'AlexBrush-Regular';
            font-weight: bold;
            background-color: $menu-color-delice_des_papilles;

            span {
                font-size: 1.3em;
                background: $menu-color-delice_des_papilles-degrade;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            a {
                font-family: 'SegoePrint';
                color: $menu-color-delice_des_papilles-lien;
            }
        }

        .menu_palette_du_gout {
            font-family: 'KaushanScript-Regular';
            background-color: $menu-coloc-palette_du_gout;

            span {
                background: $menu-coloc-palette_du_gout-degrade;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            a {
                font-family: 'SegoePrint';
                color: $menu-coloc-palette_du_gout-lien;
            }
        }
    /*--------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/* Configuration de l'affichage du bloc aside       */
    aside {
        width: 15em;
        height: 2.5em;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-bottom: $aside-margin;
        background-color: $background-color-header-footer;
        font-family: 'NimbusSanL-Reg';
        color: $text-color-header-footer;

        p {
            margin: auto;
            font-size: 1.5em;
        
            span {
                display: inline;
                animation: animation_aside 1.5s infinite both;
            }

            span:nth-child(2) {
                animation-delay: 0.3s;
            }

            span:nth-child(3) {
                animation-delay: 0.6s;
            }
        }

        @keyframes animation_aside {
            0% {
              opacity: .2;
            }
            20% {
              opacity: 1;
            }
            100% {
              opacity: .2;
            }
          }
    }


/*---------------------------------------------------*/

/* Configuration de l'alignement du bloc section et du bloc aside */
    #section_aside {
        display: flex;
        flex-direction: column;
    }
/*----------------------------------------------------------------*/

/* Configuration du footer                                        */
    @import "./layouts/footer";
/*----------------------------------------------------------------*/