/* Polices d'écritures pour les différents textes */
    @import "./base/polices";
/*-----------------------------------------------*/

// Variables et mixins                                 
    // Variables du header et footer                  
        @import "./utils/variables_header_footer";
    ////////////////////////////////////////////////////
    // Variables des menus
        @import "./utils/variables_menu_palette_du_gout";
    ////////////////////////////////////////////////////
    @import "./utils/mixins_media_queries";

    @import "./utils/mixins_menu_palette_du_gout";
////////////////////////////////////////////////////////

@import "./layouts/body_media_queries";

/*Configuration du menu 2                                                                          */
    .menu_palette_du_gout {
        box-shadow: $box-shadow-dim $box-shadow-color;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: $menu-margin;
        padding: $menu-padding;
        font-family: map-get($font-family, menu_palette_du_gout), $font-family-secondary;
        background-color: $menu-color;

        @include petit-ecran {
            margin: 0;
            margin-bottom: $menu-margin-bottom_petit_ecran;
            padding: $menu-padding_petit_ecran;
        }

        &__entree {
            flex-direction: column;

            @import "./components/transition_menu_palette_du_gout";

            h3:before {
                @include deco-menu-left
            } 
            h3:after {
                @include deco-menu-right
            }

            &--prix {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                p {
                    margin: 0;
                }
            }
        }
        
        &__principal {
            flex-direction: column;

            @import "./components/transition_menu_palette_du_gout";

            h3:before {
                @include deco-menu-left
            }
            h3:after {
                @include deco-menu-right
            }

            &--prix {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                p {
                    margin: 0;
                }
            }
        }
        
        &__dessert {
            flex-direction: column;

            @import "./components/transition_menu_palette_du_gout";

            h3:before {
                @include deco-menu-left
            }
            h3:after {
                @include deco-menu-right
            }

            &--prix {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                p {
                    margin: 0;
                }
            }
        }
        
        &_titre {
            font-size: map-get($font-size, titre-menu);
            font-weight: bold;
            background: linear-gradient(90deg, $deco-principal-color, $deco-principal-color-2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
            &_composition {
                text-align: center;
            }
        }
        
        &_composition {
            display: flex;
            justify-content: space-between;
            text-align: start;
        }

        div {
            padding-right: $composition-padding-right;
        }
    }

    h3 {
        font-size: map-get($font-size, titre-composition);
        display: inline-block;
        position: relative;
        width: 33%;
        margin-top: $h3-margin-top;

        @include petit-ecran {
            margin-top: $h3-margin-top_petit_ecran;
        }
    }
/*-----------------------------------------------------------------------------------------------*/

/* Configuration du footer                                        */
  @import "./layouts/footer";
/*----------------------------------------------------------------*/