/* Polices d'écritures pour les différents textes */
    @import "./base/polices";
/*-----------------------------------------------*/

// Variables et mixins                                 
    // Variables du header et footer                  
    @import "./utils/variables_header_footer";
    ////////////////////////////////////////////////////
    // Variables de l'index
    @import "./utils/_variables_index";
    
    ///////////////////////////////////////////////////
    @import "./utils/mixins_media_queries";
////////////////////////////////////////////////////////

@import "./layouts/body";

.infos {
    font-family: map-get($font-family, body), $font-family-secondary;
    text-align: center;

     @include petit-ecran {
         margin-bottom: 4.5em;
     }
}

/* Configuration du footer                                        */
@import "./layouts/footer";
/*----------------------------------------------------------------*/