/* Polices d'écritures pour les différents textes */
    @import "./base/polices";
/*------------------------------------------------*/

// Variables et mixins                                 
    // Variables du header et footer                  
        @import "./utils/variables_header_footer";
    ////////////////////////////////////////////////////
    // Variables des menus
        @import "./utils/variables_menu_delice_des_papilles";
    ////////////////////////////////////////////////////
    @import "./utils/mixins_media_queries";

    @import "./utils/mixins_menu_delice_des_papilles";
////////////////////////////////////////////////////////

@import "./layouts/body";

/* Configuration du Délice des papilles                                                                */
    .menu_delice_des_papilles {
        box-shadow: $box-shadow-dim $box-shadow-color;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: $menu-margin;
        padding: $menu-padding;
        font-family: map-get($font-family, menu_chic_a_la_francaise), $font-family-secondary;
        font-weight: bold;
        background-color: $menu-color-delice_des_papilles;

        @include petit-ecran {
            margin: 0;
            margin-bottom: $menu-margin-bottom_petit_ecran;
            padding: $menu-padding_petit_ecran;
        }

        p {
            font-size: 1.3em;
        }

        &__entree {
            flex-direction: column;

            @import "./components/transition_menu_chic_a_la_francaise_ET_delice_des_papilles_entree";

            h3:before {
                @include deco-menu-right($deco-entree-color)
            } 
            h3:after {
                @include deco-menu-left($deco-entree-color)
            }

            &--prix {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                p {
                    margin: 0;
                }
            }
        }
        
        &__principal {
            flex-direction: column;

            @import "./components/transition_menu_chic_a_la_francaise_ET_delice_des_papilles_principal";

            h3:before {
                @include deco-menu-right($deco-principal-color)
            }
            h3:after {
                @include deco-menu-left($deco-principal-color)
            }

            &--prix {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                p {
                    margin: 0;
                }
            }
        }
        
        &__dessert {
            flex-direction: column;

            @import "./components/transition_menu_chic_a_la_francaise_ET_delice_des_papilles_dessert";

            h3:before {
                @include deco-menu-right($deco-dessert-color)
            }
            h3:after {
                @include deco-menu-left($deco-dessert-color)
            }

            &--prix {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                p {
                    margin: 0;
                }
            }
        }
        
        &_titre {
            font-size: map-get($font-size, titre-menu);
            font-weight: bold;
            background: $menu-color-delice_des_papilles-degrade;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
            &_composition {
                text-align: center;
            }
        }
        
        &_composition {
            display: flex;
            justify-content: space-between;
            text-align: start;

            &_prix {
                text-align: right;
            }

            div {
                padding-right: $composition-padding-right;
            }
        }
    }

    h3 {
        font-size: map-get($font-size, titre-composition);
        display: inline-block;
        position: relative;
        width: 33%;
        margin-top: $h3-margin-top;

        @include petit-ecran {
            margin-top: $h3-margin-top_petit_ecran;
        }
    }
/*-----------------------------------------------------------------------------------------------*/

/* Configuration du footer                                        */
    @import "./layouts/footer";
/*----------------------------------------------------------------*/