// Variables communes à toutes les pages
    @import "variables_common";

// Couleurs
    $menu-color: #fff5fe;
    $deco-entree-color: #c67412;
    $deco-principal-color: #a56799;
    $deco-dessert-color: #6e4ccc;
    $menu-color-chic_a_la_francaise-degrade: linear-gradient(to right top, #c67412, #6e4ccc);

// Margin
    $menu-margin: 1em 5em 8em 5em;
    // Pour petit écran
        $menu-margin-bottom_petit_ecran: 4.5em;
        $h3-margin-top_petit_ecran: 0.5em;

// Padding
    $menu-padding: 2em 10em 6em 10em;
    $composition-padding-right: 0.3em;
    // Pour petit écran
        $menu-padding_petit_ecran: 0 0.3em 0 0.3em;