// Variables communes à toutes les pages
    @import "variables_common";

// Couleurs
    $menu-color: #fdfffd;
    $deco-principal-color: #3d923a;
    $deco-principal-color-2: #beff7f;

// Margin
    $menu-margin: 1em 5em 8em 5em;
        // Pour petit écran
        $menu-margin-bottom_petit_ecran: 4.5em;
        $h3-margin-top_petit_ecran: 0.5em;

// Padding
    $menu-padding: 2em 8em 6em 8em;
    $composition-padding-right: 0.3em;
    // Pour petit écran
        $menu-padding_petit_ecran: 0 0.3em 0 0.3em;