// Couleurs
    $box-shadow-color: rgba(237, 237, 237, 0.75);
    $menu-color: #fff5fe;
    $deco-entree-color: #c67412;
    $deco-principal-color: #a56799;
    $deco-dessert-color: #6e4ccc;
    $menu-color-chic_a_la_francaise-degrade: linear-gradient(to right top, #c67412, #6e4ccc);

// Margin et Padding
    $menu-margin: 1em 5em 8em 5em;
    $menu-padding: 2em 10em 6em 10em;