// Variables communes à toutes les pages
    @import "variables_common";

// Couleurs
    $menu-color: #fcdfdb;
    $deco-principal-color: black;

// Margin et Padding
    $menu-margin: 1em 5em 8em 5em;
    $menu-padding: 2em 10em 2em 10em;