// Entrée
    span {
    background: linear-gradient(to top, $deco-entree-color 0%, $deco-entree-color 8%, transparent 8.01%) no-repeat;
    background-size: 0 100%;
    transition: background-size 0.5s;

        &:hover {
            background-size: 100% 100%;
        }
    }