@font-face{
    font-family: 'NimbusSanL-Reg';
    src: url('Polices/NimbusSanL-Reg.otf');
    }

    @font-face{
        font-family: 'segoeprb';
        src: url('Polices/segoeprb.ttf');
    }

    @font-face{
        font-family: 'SCRIPTBL';
        src: url('Polices/SCRIPTBL.TTF');
    }

    @font-face{
        font-family: 'Quicksand-Regular';
        src: url('Polices/Quicksand-Regular.otf');
    }

    @font-face{
        font-family: 'SegoePrint';
        src: url('Polices/segoeprb.ttf');
    }
    
    @font-face{
        font-family: 'AlexBrush-Regular';
        src: url('Polices/AlexBrush-Regular.ttf')
    }

    @font-face{
        font-family: 'KaushanScript-Regular';
        src: url('Polices/KaushanScript-Regular.otf')
    }