header, footer {
    background-color: $background-color-header-footer;

    a {
    font-family: map-get($font-family, body), $font-family-secondary;
    color: $text-color-header-footer;
    }
}

body {
    margin: 0;
    font-size: map-get($font-size, body);
}

header {
    display: flex;
    justify-content: center;
    margin: 0;
}

a {
    text-decoration: none;
}